/*Style for body*/
body{
  text-align:center;
}  
/*Style for paragraph tag*/
#firstp{
  word-spacing: 10px;
  font-variant: small-caps;
  text-align: center;
  font-size: 80px;
}
#divi {
  width: 300px;
  height : 300px;
}


#reasontext{
  font-size:50px;
}

/*style for image tag*/
#album
{
  border-style:solid;
  border-color:#689F38
  border: 1px 
  border-radius: 80px;
  padding: 5px;
  width: 450px;
}